body {
  font-family: Helvetica, sans-serif;
}

.container {
  display: grid;
  justify-items: center;
  margin: 20px;
  padding: 20px;
}

.header-section,
.footer-section {
  display: flex;
  justify-content: center;
}

.header-section h1 {
  color: azure;
}

.footer-section {
  background: transparent;
}

.user-form {
  padding: 20px;
}

.user-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 10px;
}

.user-card:hover {
  cursor: pointer;
  background-color: azure;
  box-shadow: 0 8px 16px 0 rgba(200, 100, 10, 0.2);
}

.user-list-wrapper {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(2, 1fr);
}

.user-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-wrapper {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.form-wrapper p {
  display: flex;
  justify-content: space-between;
}
